# Binaries
*.exe
*.dll
*.so
*.dylib
*.bin
*.out

# Dependency directories
vendor/

# Go-specific files
*.log
*.test
*.prof
*.env
*.cover

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db